$body-bg-color: $background-color;
$body-font-color: $on-background-color;

$header-bg-color: $primary-color;
$header-font-color: $on-primary-color;

$section-about-bg-color: $primary-color;
$section-about-font-color: $on-primary-color;

$button-bg-color: $primary-dark-color;
$button-active-bg-color: $on-primary-dark-color;
$button-font-color: $on-primary-dark-color;
$button-active-font-color: $on-primary-color;

$section-reservation-bg-color: $primary-dark-color;

$container-max-width: (
    netbook: 960px,
    desktop: 1140px,
);

$font-sizes: (
    mobile: (
        start-section-title-font-size: 32,
    ),
    iphone: (
        start-section-title-font-size: 40,
    ),
    tablet: (
        start-section-title-font-size: 70,
    ),
    netbook: (
        start-section-title-font-size: 74,
    ),
    desktop: (
        start-section-title-font-size: 80,
    ),
    full-hd: (
        start-section-title-font-size: 84,
    ),
);

$side-gap: 20px;

html {
    scroll-behavior: smooth;
}

body {
    background-color: $body-bg-color;

    a:hover {
        color: $primary-dark-color;
    }
}

.header {
    background-color: $header-bg-color;
    box-shadow: 1px 2px 4px rgba($on-primary-color, 0.3);
    color: $header-font-color;
    position: fixed;
    top: 0;
    transition: top 0.8s;
    width: 100%;
    z-index: 1;

    &.hide {
        top: -100%;
    }

    &__container {
        display: flex;
        margin: 0 auto;
        width: 100%;
        @each $br, $size in (netbook, desktop) {
            @include media-query(#{$br}) {
                max-width: map-get($container-max-width, #{$br});
            }
        }
    }

    @include media-query(netbook) {
        background-color: rgba($header-bg-color, 0.5);
    }
}

.section {
    align-items: center;
    display: flex;
    min-height: 100vh;
    padding: px2vw(200) 0;
    @include media-query(netbook) {
        padding: 100px 0;
    }

    &__container {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        @each $br, $size in (netbook, desktop) {
            @include media-query(#{$br}) {
                max-width: map-get($container-max-width, #{$br});
            }
        }
    }

    &__header {
        display: inline-block;
        margin: 0 auto 4rem;
        text-align: left;
    }

    &__title {
        line-height: 1;
        margin-bottom: 5px;
        position: relative;
        text-shadow: 1px 1px 3px rgba($on-primary-color, 0.5);
        z-index: 0;

        &::after {
            background-color: $primary-dark-color;
            content: '';
            height: 115%;
            left: -10px;
            position: absolute;
            top: -5px;
            width: 80%;
            z-index: -1;
        }
    }

    &__subtitle {
        display: block;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1;
        position: relative;
        text-transform: uppercase;
        z-index: 0;
    }

    &__list {
        border-top: 1px solid $primary-dark-color;
        margin: px2rem(40) 0;
        overflow: hidden;

        .list-item {
            border-bottom: 1px solid $primary-dark-color;
            letter-spacing: 1px;
            overflow: hidden;
            padding: 15px 5px;
            position: relative;

            .icon {
                font-size: 2rem;
                margin-right: 10px;
            }
        }
    }

    &--start {
        background: linear-gradient(rgba($on-primary-color, 0.25), rgba($on-primary-color, 0.25)),
            url('../assets/img/main-bg.jpg') 50% / cover no-repeat;
        position: relative;

        @include media-query(netbook) {
            min-height: 961px;
        }

        .section__header {
            margin: 0 auto;
            text-align: center;

            @include media-query(tablet) {
                max-width: 740px;
            }

            @include media-query(netbook) {
                margin-top: -140px;
            }

            @include media-query(desktop) {
                margin-top: -180px;
            }
        }

        .section__title {
            color: $color-white;
            font-weight: 400;
            @each $br, $size in $breakpoints {
                @include media-query($br) {
                    font-size: px2rem(map-deep-get($font-sizes, $br, start-section-title-font-size));
                }
            }
            line-height: 1.2;
            margin-bottom: px2rem(20);
            text-shadow: 4px 4px 10px rgba($primary-color, 0.5);

            .title__mark {
                color: $primary-color;
                display: block;
                font-weight: 700;
            }

            &::after {
                display: none;
            }
        }

        .section__subtitle {
            color: $color-white;
            font-size: 1.6rem;
            line-height: 1.2;
            margin: 0 auto;
            max-width: 60%;
            text-transform: none;
        }

        .tow-car {
            bottom: -60px;
            display: flex;
            justify-content: center;
            position: absolute;

            &__image {
                max-width: 90%;
            }

            @include media-query(tablet) {
                bottom: -140px;
            }

            @include media-query(netbook) {
                bottom: -180px;
            }
            @include media-query(desktop) {
                bottom: -200px;
            }
        }
    }

    &--about {
        background-color: $section-about-bg-color;
        padding: 100px 0;

        .section__content-wrapper {
            display: flex;
            flex-direction: column;
            padding: 0 2rem;
            text-align: left;
        }

        .section__picture {
            display: none;
        }

        @include media-query(tablet) {
            .section__container {
                text-align: left;
            }

            .section__title,
            .section__subtitle {
                margin-left: $side-gap;
                margin-right: $side-gap;
            }
        }

        @include media-query(netbook) {
            .section__content-wrapper {
                display: block;
            }

            .section__picture {
                border-radius: 300px;
                display: block;
                float: right;
                margin-left: 40px;
                max-width: 440px;
                shape-margin: 40px;
                shape-outside: circle(221px at 258px 220px);

                img {
                    border: 10px solid $primary-dark-color;
                    border-radius: 300px;
                    filter: grayscale(60%);
                    max-width: 100%;
                }
            }
        }

        @include media-query(desktop) {
            padding: 200px 0 100px;
        }
    }

    &--offer {
        .section-title {
            margin: 0 auto px2rem(20);
            text-align: center;
        }
    }

    &--reservation {
        background-color: $section-reservation-bg-color;

        .section__title::after {
            background-color: $primary-color;
        }

        .section__text {
            p {
                margin: 10px 0;
            }
        }

        .content-wrapper {
            display: flex;
            flex-direction: column;
            margin: 40px;

            &__child {
                padding: 2rem 0;
            }

            .section__form,
            .section__text {
                position: relative;
            }

            @include media-query(netbook) {
                flex-direction: row;

                &__child {
                    padding: 2rem;
                }

                .section__form,
                .section__text {
                    width: 50%;
                }

                .section__form,
                .section__text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    }

    &--gallery {
        .button {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.grid-container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin: 0 auto;
    padding: px2rem(20);
    position: relative;
    text-align: center;
    width: 100%;
    @each $br, $size in (netbook, desktop) {
        @include media-query(#{$br}) {
            max-width: map-get($container-max-width, #{$br});
        }
    }
}

.offer-card {
    &__icon {
        color: $primary-dark-color;
        margin-bottom: px2rem(10);

        .icon {
            font-size: px2rem(80);
        }
    }

    &__title {
        align-items: center;
        display: flex;
        font-size: px2rem(22);
        justify-content: center;
        letter-spacing: px2rem(2);
        min-height: px2rem(70);
        text-transform: initial;
    }

    &__intro {
        margin: px2rem(20) auto;
    }

    &__more-link {
        font-size: px2rem(12);
    }

    .button {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    // &__details {
    //     align-items: center;
    //     background-color: $color-apple-green;
    //     color: $color-hunter-green;
    //     flex-direction: column;
    //     left: 0;
    //     margin: px2rem(20) auto;
    //     max-height: 0;
    //     max-width: 0;
    //     opacity: 0;
    //     overflow: hidden;
    //     padding: px2rem(40);
    //     position: absolute;
    //     top: 0;
    //     transition: all 0.7s ease-out;

    //     &--show {
    //         display: flex;
    //         opacity: 1;
    //     }
    // }
}

.button {
    background-color: $button-bg-color;
    border: 0;
    color: $button-font-color;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    margin: 15px 20px;
    outline: 0;
    padding: 12px 16px 10px;
    position: relative;
    text-transform: uppercase;

    &:focus,
    &:hover {
        color: $button-active-font-color;
    }

    &::before,
    &::after {
        border: 0 solid transparent;
        content: '';
        height: 24px;
        position: absolute;
        transition: all 0.25s;
        width: 24px;
    }

    &::before {
        border-color: $button-bg-color;
        border-left-width: 2px;
        border-top-width: 2px;
        left: -5px;
        top: -5px;
    }

    &::after {
        border-bottom-width: 2px;
        border-color: $button-bg-color;
        border-right-width: 2px;
        bottom: -5px;
        right: -5px;
    }

    &:focus::before,
    &:focus::after,
    &:hover::before,
    &:hover::after {
        border-color: $button-active-bg-color;
        height: 100%;
        width: 100%;
    }

    &--more {
        padding: 12px 16px 12px 12px;
    }

    &__label {
        display: none;

        &--show {
            display: inline-block;
        }
    }

    .icon {
        margin-right: 5px;
        margin-top: -2px;
        vertical-align: top;
    }
}

.icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    overflow: hidden;
    stroke: currentColor;
    stroke-width: 0;
    vertical-align: middle;
    width: 1em;
}

.access-label {
    height: 1px !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

/********* Loading ************/
.loading {
    opacity: 0.5;
    pointer-events: none;
    position: relative;

    &::after {
        animation: rotateSingleLoading 0.3s infinite linear;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        border-right-color: rgba(0, 0, 0, 0.7);
        content: '';
        height: 20px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        width: 20px;
        z-index: 10;
    }
}

@keyframes rotateSingleLoading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
