$body-bg-color: $color-baby-powder;
$header-bg-color: $color-charcoal;
$header-font-color: $color-baby-powder;
$container-max-width: (netbook: 960px, desktop: 1140px);

$section-bg-color1: $color-apple-green;//$color-sunglow;
$section-bg-color2: $color-baby-powder;
$section-bg-color3: $color-hunter-green;//$color-black-coffee;

html {
    scroll-behavior: smooth;
}

body {
    background-color: $body-bg-color;
}

.header {
    background-color: rgba($header-bg-color, 0.8);
    color: $header-font-color;
    position: fixed;
    top: 0;
    transition: top 0.8s;
    width: 100%;

    &.hide {
        top: -100%;
    }
}

.section {
    align-items: center;
    display: flex;
    min-height: 100vh;
    padding: px2vw(200) 0;
    // &--color1 { background-color: $section-bg-color1;}
    // &--color2 { background-color: $section-bg-color2;}
    // &--color3 { background-color: $section-bg-color3;}
    @include media-query (netbook) {
        padding: 100px 0;
    }

    &:nth-child(3n+1) {
        background-color: $section-bg-color1;
    }

    &:nth-child(3n+2) {
        background-color: $section-bg-color2;
    }

    &:nth-child(3n+3) {
        background-color: $section-bg-color3;
    }

    &-title {
        margin-bottom: 2rem;
        position: relative;

        &::after {
            background-color: $color-apple-green;
            content: '';
            height: 2px;
            left: 0;
            position: absolute;
            top: px2rem(-10);
            width: 80%;            
        }
    }

    &-sub-title {
        display: block;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1;
    }

    &-list {
        border-top: 1px solid rgba($color-apple-green, 0.3);
        margin: px2rem(20) 0;

        &-item {
            border-bottom: 1px solid rgba($color-apple-green, 0.3);
            // margin: px2rem(5) 0;
            padding: px2rem(10) 0;
            position: relative;

            &::before {
                color: $color-apple-green;
                content: '\f0ad';
                display: inline-block;
                font-family: $font-icons;
                font-size: px2rem(10);
                margin-right: px2rem(10);
            }

            // &::after {
            //     background-color: rgba($color-apple-green, 0.2);
            //     bottom: px2rem(-5);
            //     content: '';
            //     height: 1px;
            //     left: 0;
            //     position: absolute;
            //     width: 100%;
            // }
        }
        
    }

    &--start {
        background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
            /*url('../assets/img/main-bg-tow-car.png') bottom 25% left 50%/contain no-repeat,*/
                url('../assets/img/main-bg.jpg') 50% / cover no-repeat;
        position: relative;

        @include media-query(netbook) {
            background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
                /*url('../assets/img/main-bg-tow-car.png') bottom 15% left 50%/824px 500px no-repeat,*/
                    url('../assets/img/main-bg.jpg') 50% / cover no-repeat;
            min-height: 961px;
        }

    &--about {
        .row {
            .col-6:nth-child(1) {
                order: 1;
            }

            .col-6:nth-child(2) {
                order: 0;
            }
        }

        @include media-query(netbook) {
            .row .col-6:nth-child(1) {
                order: 0;
            }
    
            .row .col-6:nth-child(2) {
                order: 1;
            }
        }
    }

    &--about {
        background-color: $section-about-bg-color;
        padding: 100px 0;

        .section__content-wrapper {
            display: flex;
            flex-direction: column;
            padding: 0 2rem;
            text-align: left;
        }

        .section__picture {
            display: none;
        }

        @include media-query(tablet) {
            .section__container {
                text-align: left;
            }

            .section__title {
                margin-left: $side-gap;
                margin-right: $side-gap;
            }
        }

        @include media-query(netbook) {
            .section__content-wrapper {
                display: block;
            }

            .section__picture {
                border-radius: 300px;
                display: block;
                float: right;
                margin-left: 40px;
                max-width: 440px;
                shape-margin: 40px;
                shape-outside: circle(221px at 258px 220px);

                img {
                    border: 10px solid $primary-dark-color;
                    border-radius: 300px;
                    filter: grayscale(60%);
                    max-width: 100%;
                }
            }
        }

        @include media-query(desktop) {
            padding: 200px 0 100px;
        }
    }

    &--offer {
        .section-title {
            margin: 0 auto px2rem(20);
        }
    }
}

.container {
    // background-color: #fff;
    display: flex;
    margin: 0 auto;
    width: 100%;
    @each $br, $size in (netbook, desktop) {
        @include media-query(#{$br}) {
            max-width: map-get($container-max-width, #{$br});
        }
    }
}

.offer-card {
    &__icon {
        color: $primary-dark-color;
        font-size: px2rem(40);
        margin-bottom: px2rem(10);

        i::before {
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        }
    }

    &__title {
        align-items: center;
        display: flex;
        font-size: px2rem(22);
        justify-content: center;
        letter-spacing: px2rem(2);
        min-height: px2rem(70);
        text-transform: initial;
    }

    &__intro {
        margin: px2rem(20) auto;
    }

    &__more-link {
        font-size: px2rem(12);
    }

    &__details {
        align-items: center;
        background-color: $color-apple-green;
        color: $color-hunter-green;
        flex-direction: column;
        left: 0;
        margin: px2rem(20) auto;
        max-height: 0;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        padding: px2rem(40);
        position: absolute;
        top: 0;
        transition: all 0.7s ease-out;

        &--show {
            display: flex;
            opacity: 1;
        }
    }
}
