// $navbar-bg-color: $color-rich-black-fogra-39;
$menu-link-active-bg-color: $primary-dark-color;
$menu-link-active-font-color: $on-primary-dark-color;
$menu-link-active-hover-font-color: $on-primary-dark-color;
$menu-link-hover-font-color: $primary-dark-color;

.navbar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: px2rem(10);
    width: 100%;

    &__logo {
        display: flex;
    }

    &__toggler {
        display: flex;
    }

    &__menu-wrapper {
        align-items: center;
        flex-basis: 100%;
        flex-grow: 1;
        height: 214px;
        overflow: hidden;
        transition: height 0.35s ease;
    }

    &__menu-wrapper--collapse:not(.show) {
        height: 0;
    }

    @include media-query(netbook) {
        flex-flow: row nowrap;

        &__toggler {
            display: none;
        }

        &__menu-wrapper {
            display: flex;
            flex-basis: auto;
            flex-grow: initial;
            height: auto;
        }

        &__menu-wrapper--collapse:not(.show) {
            display: flex;
            height: auto;
        }
    }
}

.main-nav {
    align-items: center;
    flex-basis: 100%;
    flex-grow: 1;

    &__item {
        font-family: $secondary-font-family;
        font-weight: 700;
        letter-spacing: 2px;
        padding: px2rem(10) px2rem(0);
        text-align: center;
        text-transform: uppercase;
    }

    &__item.active {
        background-color: $menu-link-active-bg-color;
        color: $menu-link-active-font-color;
        font-weight: bold;
        
        .main-nav__link:hover {
            color: rgba($menu-link-active-hover-font-color, 0.7);
        }
    }

    &__link {
        display: block;

        &:hover {
            color: $menu-link-hover-font-color;
        }
    }

    @include media-query(netbook) {
        display: flex;
        flex-basis: auto;
        flex-grow: initial;
        margin: px2rem(10);

        &__item {
            font-family: $third-font-family;
            font-size: px2rem(10);
            font-weight: 900;
            line-height: 1;
            margin: 0 px2rem(5);
            padding: px2rem(5) px2rem(10);
            text-align: left;
            

            &.active {
                border-radius: px2rem(20);
            }
        }
    }
}
