.recommendation-container {
    &.swiper-container {
        height: auto;
        max-width: 1000px;
        padding-bottom: 50px;
        width: 100%;
    }

    .swiper-pagination-bullet {
        background: $primary-dark-color;
        border: 1px solid $on-primary-color;
        height: 10px;
        opacity: 0.5;
        width: 10px;
    }

    .swiper-pagination-bullet-active {
        background: $primary-color;
        opacity: 1;
    }
}

.recommendation {
    &-author,
    &-text {
        margin: 10px 0;
    }

    &-author {
        color: $primary-dark-color;

        &__internship {
            color: $color-white;
            display: block;
            font-size: 0.4em;
            letter-spacing: 1px;
            text-transform: none;
        }
    }
}
